.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar {
  display: block;
  text-align: right;
  margin-right: 5px;
}

.App-link {
  color: white;
  margin-left: 5px;
}

.App-link-IPFS {
  float: left;
}

.App-image {
  border-radius: 3%;
  max-width: 750px;
  max-height: 750px;
}

.App-button {
  background-color: #0d00a4;
  color: #ffffff;
  border-radius: 5%;
}
